:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url('./assets/images/backdrop.png');
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

#app {
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    padding: 2rem;
}

.p-x4 {
    padding: 16px;
}

.w-100 {
    width: 100%;
}

.font-crimson-bold {
    font-family: 'Crimson Text SemiBold';
    font-weight: bold;
}
